<!--/*-->
<!--To display errors-->

<!--@author Dorsa Nahid-->
<!--@date 2020-1-31-->
<!--Project: ECE 492 Group 1-->
<!--*/-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
