<!--/*-->
<!--To specify the CSS style file-->

<!--@author Dorsa Nahid-->
<!--@date 2020-1-31-->
<!--Project: ECE 492 Group 1-->
<!--*/-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
